{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <title>Puzzled Escape Room</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="icon" href="https://res.cloudinary.com/dif7bavi7/image/upload/v1690752704/favicon_lpmdp3.ico" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

    <!-- Navigation -->

    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'escaperoom' %}">
                <img src="https://res.cloudinary.com/dif7bavi7/image/upload/v1690753428/puzzled_logo_v12znz.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                Puzzled Escape Room
            </a>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'escaperoom' %}">Puzzled</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'our_rooms' %}">Our Rooms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'booking' %}">Booking</a>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Admin</a>
            </li>
        </ul>
    </nav>

    <main>
        {% block content %}
        <!-- Content -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="footer mt-2 py-3 footer-bg bg-dark">
    <div class="m-0 text-center social-networks text-light">
        <p>Follow Us On :</p>
        <div class="social-links">
            <a href="https://instagram.com" target="_blank" rel="noopener"
                aria-label="Visit our Instagram page (opens in a new tab)"><i class="fab fa-instagram"></i></a>

            <a href="https://twitter.com" target="_blank" rel="noopener"
                aria-label="Visit our Twitter page (opens in a new tab)"><i class="fab fa-twitter"></i></a>

            <a href="https://facebook.com" target="_blank" rel="noopener"
                aria-label="Visit our Facebook page (opens in a new tab)"><i class="fab fa-facebook"></i></a>

            <a href="https://youtube.com" target="_blank" rel="noopener"
                aria-label="Visit our Youtube page (opens in a new tab)"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
    </footer>
    
</body>

</html>