{% extends 'base.html' %} {% load static %} {% block content %}

<h1 class="text-center mt-3">Escape Room Booking</h1>

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 mx-auto" style="width: 90%">
    <div class="text-center">
  <form
    method="post"
    action="{% url 'bookingSubmit' %}"
    class="me-2 ms-2"
    required
  >
    {% csrf_token %}

    <h3 class="">Time:</h3>
    <div>
      <select class="form-select fs-3" name="time">
        {% for time in times %}
        <option value="{{time}}">{{time}}</option>
        {% endfor %}
      </select>
    </div>
    <h3 class="">Number of Players:</h3>
    <div>
      <select class="form-select fs-3" name="players">
        {% for player_choice in player_number_choices %}
        <option value="{{ player_choice.0 }}">{{ player_choice.1 }}</option>
        {% endfor %}
      </select>
    </div>

    <button type="submit" class="btn btn-primary text-white mt-3">
      Submit
    </button>
  </form>
</div>

{% endblock %}
