{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="text-center">
    <h1>Contact Us</h1>
    <div class="mt-4">

    <h5>Opening Hours</h5>
    <p>Our business hours are from 8:30 AM to 11:00 PM, Tuesday through Sunday. <br>
        Please note that we are closed on Mondays.</p> 

    <h5>Address</h5>
    <p>We are located at 123 Main St, Anytown, Anystate, 12345, <br> just 300m away from the Central Station.</p>

    <h5>Phone</h5>
    <p>+1 (234) 567-8901</p>

    <h5>Email</h5>
    <p>info@puzzled.com</p>

    <h5>Parking</h5>
    <p>Parking is available in the lot at the rear of the building. Additional street parking is available on Main St.
    </p>

    <h5>Accessibility for Individuals with Disabilities</h5>
    <p>We are fully equipped to accommodate individuals with disabilities. <br>
        We have ramps at the entrance, elevators to
        all floors, and accessible restrooms. <br>
        If you need any further assistance, please let us know in advance.</p>
    </div>
</div>
{% endblock %}